.container{
    
}
.watchlist-heading{
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.watchlist-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.watchlist-list{
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid rgba(0, 0, 0,0.3);
    padding: 10px;
}
.watchlist-delte-con{
    display: flex;
    align-items: center;
    /* / width: 100px; / */
    height: 100px;
    
}
.watchlist-delte-con span:nth-child(2){
    color: orangered;
    margin-left: 10px;
}